In [1]:
import numpy as np  # numerical computing library
import pandas as pd  # data manipulation library
import matplotlib.pyplot as plt  # data visualization library
import seaborn as sns  # data visualization library

In [2]:
data = pd.read_csv('dataset retail.csv')

In [3]:
data.head()

,adress,rooms,size,measure,level,repair,wall,price,status
0,Сергелийский район,3,83,NaN,3/9,Авторский проект,Монолитный,500,аренду
1,Яшнободский район,1,40,NaN,3/9,Евроремонт,Панельный,450,аренду
2,Мирабадский район,3,93,NaN,7/9,Евроремонт,Панельный,1 000,аренду
3,Мирабадский район,2,60,NaN,3/4,Авторский проект,Кирпичный,1 200,аренду
4,Шайхантахурский район,2,50,NaN,2/4,Евроремонт,Кирпичный,700,аренду

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6432 entries, 0 to 6431
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   adress   6432 non-null   object
 1   rooms    6432 non-null   object
 2   size     6432 non-null   object
 3   measure  0 non-null      float64
 4   level    6432 non-null   object
 5   repair   6432 non-null   object
 6   wall     6432 non-null   object
 7   price    6432 non-null   object
 8   status   6432 non-null   object
dtypes: float64(1), object(8)
memory usage: 452.4+ KB

In [5]:
del data['measure']

In [7]:
data.rooms.value_counts()

2         2425
3         2078
1          728
4          690
6+         279
          ...
264 м²       1
246 м²       1
1/2          1
             1
274 м²       1
Name: rooms, Length: 128, dtype: int64

In [6]:
data['rooms'].astype(float)

,adress,rooms,size,level,repair,wall,price,status
0,Сергелийский район,3,83,3/9,Авторский проект,Монолитный,500,аренду
1,Яшнободский район,1,40,3/9,Евроремонт,Панельный,450,аренду
2,Мирабадский район,3,93,7/9,Евроремонт,Панельный,1 000,аренду
3,Мирабадский район,2,60,3/4,Авторский проект,Кирпичный,1 200,аренду
4,Шайхантахурский район,2,50,2/4,Евроремонт,Кирпичный,700,аренду
...,...,...,...,...,...,...,...,...
6427,Юнусабадский район,2,51,2/9,Евроремонт,Кирпичный,1 200,аренду
6428,Яккасарайский район,3,110,6/8,Евроремонт,Кирпичный,1 200,аренду
6429,Мирабадский район,2,65,3/9,Евроремонт,Парковочное место,700,аренду
6430,Яккасарайский район,2,65,1/6,Евроремонт,Кирпичный,1 000,аренду
6431,Мирабадский район,2,50,2/12,Евроремонт,Панельный,800,аренду